@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   font-family: Roboto, sans-serif;
   min-height: 100vh;
   margin: 0px;
   display: flex;
   flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 5px 100px 5px 100px;
}

.left-link {
    display: flex;
    justify-content: flex-start;
}

.right-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

header img {
   width: 50px;
}

header a {
   text-decoration: none;
   color: #E5E7EB;
   font-weight: 100;
   font-size: 18px;
}

.hero {
   background-color: #1F2937;
   padding: 10px 100px 40px 100px;
}  

.hero img {
   display: flex;
   width: 80%;
   min-width: 80%;
   height: auto;
}

.container-hero {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 30px;
}


.hero h1 {
   color: #F9FAF8;
   font-size: 48px;
   margin-top: 1px;
   margin-bottom: 1px;
}

.hero p {
   color: #F9FAF8;
   margin-bottom: 1px;
   margin-top: 1px;
}

.top-button {
   background-color: #3882f6;
   color:#E5E7EB;
   border-radius: 5px;
   border: 1px solid #3882f6;
   padding: 5px 40px;
}

.middle {
   padding: 10px 100px 40px 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.middle img {
   display: flex;
   width: 200px;
   height: auto;
   border-radius: 10px;
}

.container-middle {
   display: flex;
   gap: 16px;
   flex-wrap: wrap;
}

.bottom-up {
   padding: 10px 100px 40px 100px;
   font-size: 36px;
   font-style: italic;
   font-weight: 80;
   color:#1F2937;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #E5E7EB;
}

.container-bottom{
   display: flex;
   flex-direction: column;

}

.text1 {
   display: flex;
   margin-bottom: 0px;
}

.text2 {
   font-weight: bold;
   margin-top: 1px;
   padding: 0px 100px 0px 100px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.bottom-down {
   padding: 10px 100px 40px 100px;
}

.container-call {
   background-color: #3882f6;
   padding: 1px 60px 1px 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color:#E5E7Eb;
}

.left-part h1{
   margin-bottom: 1px;
}

.left-part p{
   margin-top: 1px;
}


.bottom-button {
   background-color: #3882f6;
   color:#E5E7EB;
   border-radius: 5px;
   border: 1px solid white;
   padding: 5px 40px;
}

footer {
   background-color: #1F2937;
   margin-top: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color:#E5E7EB
}